<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <a href="https://cbmm.mit.edu/">
<img align="left" src="https://raw.githubusercontent.com/iclr2021generalization/iclr2021generalization.github.io/main/assets/img/sponsors/cbmm.jpg" width="160">
 </a>
      <a href="https://www.fujitsu.com/">
          <img align="left" src="https://raw.githubusercontent.com/iclr2021generalization/iclr2021generalization.github.io/main/assets/img/sponsors/fujitsu.jpg" width="200">
        </a>
          <a href="https://www.projectprakash.org/">
      <img align="left" src="https://raw.githubusercontent.com/iclr2021generalization/iclr2021generalization.github.io/main/assets/img/sponsors/prakash.jpg" width="120">
 </a>
 <a href="https://tue.ai//">
      <img aling="left" src="https://raw.githubusercontent.com/iclr2021generalization/iclr2021generalization.github.io/main/assets/img/sponsors/tuebingen_ai_logo_v1.jpg" width="300">
 </a>
      <br> <br> <br> <br> <br> <br> <br>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        {% if site.last_updated %}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {% endif %}
        <p>{{ site.attribution }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
